<aside class='col'>
<section>
  <div>
   <table>
    <tr>
      <th>Food & Beverage Subtotal</th>
      <td>$19.50</td>
    </tr>
    <tr>
      <th>Taxes</th>
      <td>$5.5</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>$25.00</td>
    </tr>
   </table>
  </div>
</section>
<section>
  <div>
    <table class='order-list'>
      <tr>

        <th>Order Item Name</th>
        <th>Item Price</th>
        <th>Cancel</th>

      </tr>
    </table>
  </div>
</section>
</aside>

