<aside class='col checkout'>
  <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
<section>
  <ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
  <div>
   <table>
    <tr>
      <th>Food & Beverage Subtotal</th>
      <td class='order-subtotal'>$0.00</td>
    </tr>
    <tr>
      <th>Taxes</th>
      <td class='order-taxes'>$0.00</td>
    </tr>
    <tr>
      <th>Total</th>
      <td class='order-total'>$0.00</td>
    </tr>
   </table>
  </div>
</section>
<section>
<button type='button' class='checkout-button'>Checkout</button>
  <div>
    <table class='order-list'>
      <tr>

        <th>Order Item Name</th>
        <th>Item Price</th>
        <th>Cancel</th>

      </tr>
    </table>
</div>
</section>
</form>
</aside>

