<aside class='col'>
<section>
  <div>
   <table>
    <tr>
      <th>Food & Beverage Subtotal</th>
      <td>$19.50</td>
    </tr>
    <tr>
      <th>Taxes</th>
      <td>$5.5</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>$25.00</td>
    </tr>
   </table>
  </div>
</section>
<section>
  <div>
    <table>
      <tr>
<<<<<<< HEAD
         <th>Order Item Name</th>
        <td>Quantity</td>
        <td>Item price</td>
=======
        <th>Order Item Name</th>
        <th>Item Price</td>
        <th>Cancel</td>
>>>>>>> 42113fdc1a602f26686d63622f502512ad2ee7d6
      </tr>
    </table>
  </div>
</section>
<<<<<<< HEAD
<aside>
=======
</aside>
>>>>>>> 42113fdc1a602f26686d63622f502512ad2ee7d6
