
<aside class=' checkout col-6 col-md-4'>

  <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
    <section>

        <table>
          <tr>
            <th>Food & Beverage Subtotal</th>
            <td class='order-subtotal'>$0.00</td>
          </tr>
          <tr>
            <th>Taxes</th>
            <td class='order-taxes'>$0.00</td>
          </tr>
          <tr>
            <th>Total</th>
            <td class='order-total'>$0.00</td>
          </tr>
        </table>

    </section>

    <section>
      <button type='button' class='checkout-button'>Checkout</button>
      <div>
        <table class='order-list'>
          <tr>
          <th>Order Item Name</th>
          <th>Item Price</th>
          <th>Cancel</th>
          </tr>
        </table>
      </div>
    </section>

    <%- include("checkout.ejs")%>

  </form>
</aside>


