
<!-- //Footer Partial -->
<footer>
  <section>

  </section>
  <section >
    <ul class = "row dl-horizontal  list-unstyled ">
      <li class = "col-sm">&copy; Copyright 2018 </li>
      <li class = "col-sm"><a href = '#'>restaurant Login</a></li>
      <li class = "col-sm"><a href = '#'>Privacy Policy</a></li>
      <li class = "col-sm"><a href = '#'> Terms Of Use</a></li>
      <li class = "col-sm"><a href = '#'>About us</a></li>
      <li class = "col-sm"><a href = '#'>Contact Us</a></li>
    </ul>
  </section>


</footer>
