
<!-- //Footer Partial -->
<footer>
  <nav class="navbar navbar-light" style="background-color: hsla(89, 43%, 51%, 0.3);">

  <ul class="nav justify-content-end">
<button type="button" class="btn btn-primary">Contact us</button>
<button type="button" class="btn btn-secondary">Address</button>
<button type="button" class="btn btn-success">Privacy Policy</button>
<button type="button" class="btn btn-danger">Back login</button>
</ul>
</nav>
</footer>
