
<!-- //Footer Partial -->
<footer>
  <section>

  </section>
  <section>
    <ul>
      <li>&copy; Copyright 2018 </li>
      <li><a href = '#'>restaurant Login</a></li>
      <li><a href = '#'>Privacy Policy</a></li>
      <li><a href = '#'> Terms Of Use</a></li>
      <li><a href = '#'>About us</a></li>
      <li><a href = '#'>Contact Us</a></li>
    </ul>
  </section>


</footer>
