<nav class='nav'>
  <a href='/'><img src='/pictures/veggie-cm-white-.jpg'></a>
<form form action="/login" method="POST">
    <label>email<input id="email" type="email" name="email" ></label>
    <label>password<input id="password" type="password" name="password" ></label>
    <input type="submit" value="login">
  </form>
</nav>
