body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.image-carosel {
  background: url('/pictures/snacks-780x405.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 300px;

}


